
/** Elaborado por San **/

* {
	color: #888;
	font-family: sans-serif;
}

#iconos1 {
	padding: 5%;
	text-align: center;
}

.iconos {
	width: 50px;
	height: 50px;
}

.mgt20 {
	margin-top: 20px;
}

#features {
	background-color: rgb(244, 244, 244);
}

#features img {
	width: 100%;
}
#iconos2 {
	padding: 5%;
}

#iconos2 img {
	width: 30px;
	height: 30px;
	text-align: right;
	margin-top: 20px;
}

#portfolio {
	background-color: rgb(244, 244, 244);
	text-align: center;
	padding: 5%;
}

.pb-3 {
	padding-bottom: 3%;
}

.text-black {
	color: black;
}

.button {
	background: white;
	color: black;
	display:inline-block;
	font-size:1em;
	margin:30px 3px;
	padding:5px;
	text-align:center;
	width:110px;
	text-decoration:none;
	box-shadow:0px 3px 0px #32C7C7;
}
 
.button span {
	margin-right:10px;
}

.button.blue {
	background:#32C7C7;
	box-shadow:0px 3px 0px #266792;
}

.button.black {
	color: white;
	background:#263238;
	box-shadow:0px 3px 0px #37474F;
}

.photo {
	margin-top: 30px;
	background-color: white;
	padding: 5%;
	text-align: center;
}

#portfolio h3 {
	color: #263238;
	padding: 2%;
}

.text-none {
	text-decoration: none;
}

/* CITY */

#city {
	background-image: url("https://wallpaperscraft.com/image/city_night_skyscraper_sky_834_1920x1200.jpg"); 
	background-size: cover;
	height: 250px;
	padding: 15% 5%;
	color: white;
	-webkit-filter: grayscale(60%);
	filter: grayscale(60%);
}


.button.transparente {
	color: white;
	background-color: rgba(255,255,255, 0.2);
	box-shadow:0px 1px 1px white;
}

/* Package */

#package {
	background-color: rgb(244, 244, 244);
	text-align: center;
	padding: 5%;
}

.up {
	background: #263238;
	color: white;
	text-align: center;
	padding: 7% 5%;
	margin: 0;
	font-size: 20px;
}

.ft18 {
	font-size: 20px;

}

.down {
	background: #E0E0E0;
	text-align: center;
	padding: 15% 5%;
	margin: 0;
	height: auto;
}

.list {
	text-align: center;
	padding: 5%;
	margin: 0;
	border-bottom: 1px solid rgb(244, 244, 244);
}